* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #222222;
    --red: #C64832;
    --green: #05A774;
    --d-green: #14654E;
    --blue-green: #5FA199;
    --yellow: #F8E12E;
    --l-yellow: #FFEF74;
    --sapphire: #00A3FF;
    --g-orange: #FFC700, #FF9900;
    --g-orange-gold: #FFC700, #FF9900, #FFC700, #FF9900;
    --g-sapphire: #00A3FF, #0047FF ,#00A3FF ,#0047FF;
}

body {
    background: var(--dark);
}

#app {
    flex-direction: column;
    justify-content: space-between;
}

/*! LOADER */

#loading {
    position: relative;
    background-color: var(--green);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    
}
#loading img {
    width: 60vw;
}

/*! HEADER */

#header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--d-green);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}

#logo {
    width: 3rem;
}

#title {
    width: 10.5rem;
}

/*! CONTENT */

.main {
    color: #fff;
    background-color: #252525;
    margin: 20px;
    border-radius: 5px;
    margin-top: 15vh;
    margin-bottom: 14vh;
}

#principal {
    padding: 30px 10px;
    gap: 10px;
}
#principal .dates {
    width: 90%;
    background-color: var(--blue-green);
    padding: 10px 20px;
    border-radius: 10px;
}
#principal .dates h3 {
    margin-bottom: 5px;
}
#principal .dates span {
    padding-left: 15px;
    font-size: 10pt;
}
#principal .checkout-btn {
    width: 90%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: var(--sapphire);
}

#principal .team_dates {
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--g-orange-gold));
    width: 90%;
}


/** About */
.about_box {
    width: 90%;
    margin-bottom: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: left;
    padding: 5px 15px;
}

.arrow img {
    width: 12px;
    height: 12px;
    transition: rotate 1s;
}
.rotate {
    transform: rotate(180deg);
}

.mission {
    background-color: var(--green);
}
.vision {
    background-color: var(--red);
}
.general_info {
    color: #000;
    background-color: var(--yellow);
}
.mission_text, .vision_text, .general_info_text {
    padding: 10px;
    transition: scaleY .5s;
}

/** Games */

table {
    width:90%;
    text-align: center;
    vertical-align: middle !important;
}

.game_day {
    background-color: #70E6D8 !important;
    font-weight: 600;
}
.game_day_odd {
    background-color: #5ec2b6 !important;
    font-weight: 600;
}

.game_team {
    background-color: var(--yellow) !important;
}
.game_team_odd {
    background-color: var(--l-yellow) !important;
}

.game_close {
    background-color: rgb(204, 0, 0) !important;
}

.game_info {
    background-color: var(--d-green);
    color: white;
}
.game_info:nth-child(odd) {
    background-color: var(--green);
}

.send_email, .download_pdf {
    border: none;
    width: 46%;
    /* height: 15%; */
    padding: 1px;
    padding-left: 6px;
    font-size: 10pt;
    border-radius: 5px;
}
.send_email {
    background: linear-gradient(90deg, var(--g-sapphire));
    color: #fff;
}
.download_pdf {
    background: linear-gradient(90deg, var(--g-orange-gold));
}
.send_container {
    background-color: #0047FF;
    height: 100%;
    width: 1.7rem;
}
.send_container img {
    filter: invert(1);
}
.download_container {
    background-color: #FFC700;
    height: 100%;
    width: 1.7rem;
}

/** Rules */

#rules_top {
    margin-top: 20px;
}

.back_top {
    padding: 10px 15px;
    background-color: #05A774;
    position: fixed;
    top: 85px;
    right: 10%;
    border: none;
    border-radius: 5px;
}
#download_rules {
    padding: 10px 10px;
    position: fixed;
    top: 85px;
    left: 10%;
}
.back_top a {
    color: white;
    text-decoration: none;
}

/** Registration */
fieldset {
    margin-bottom: 1.5rem;
}
label {
    margin-bottom: 1rem;
}

.field_one input, .field_one textarea {
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #777;
    padding: 10px 15px;
}
.field_one input::placeholder, .field_one textarea::placeholder{
    color: #ddd;
}
.field_one input:focus, .field_one textarea:focus {
    outline: solid 2px var(--green);
}

input[type="radio"], input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.checkbox {
    width: .7rem;
    height: .7rem;
    background-color: #fff;
}
.checkbox_checked {
    background-color: var(--green);
}

#label_femenine, #label_non_binary, #label_male {
    padding: .7rem;
    border-radius: 6px;
    background-color: #777;
    border: none;
    color:#fff;
}

#label_femenine.female_selected {
    background-color: pink !important;
}
#label_male.male_selected {
    background-color: var(--sapphire) !important;
}
#label_non_binary.non_binary_selected {
    background-color: limegreen !important;
}

.non_selected {
    padding: .7rem;
    border-radius: 6px;
    background-color: #777;
    border: none;
    color:#fff;
}
.selected {
    background-color: var(--green);
    font-weight: bold;
}

.submit_form {
    padding: 3%;
    padding-right: 3%;
    border: none;
    border-radius: 3px;
    background-color: #05A774;
    color: white;
    font-weight: bold;
}
.submit_form picture {
    width: 32px;
    height: 32px;
    background-color: #14654E;
}
.submit_form picture img {
    filter: invert(1);
}

/** Profile */
.reset_profile {
    background-color: var(--red);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
}
.reset_profile picture {
    background-color: #9c3624;
}

.save_profile {
    background-color: #05A774;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
}
.save_profile picture {
    background-color: #027d56;
}
.disabled {
    font-style: italic;
    background-color: #555 !important;
    color: #ccc !important;
}

/*! ASIDE */

#aside, #aside_log {
    position: absolute;
    top: 15vh;
    height: 80%;
    width: 87.5vw;
    background-color: #252525;
}

#aside div h4 {
    font-size: 13pt;
}
#aside div span {
    font-size: 9pt;
}

#aside div button {
    font-size: 10pt;
    font-weight: 600;
    padding: 10px 70px;
    border: none;
    border-radius: 2px;
}
.log_txt {
    color: var(--green);
    font-weight: 600;
}
.log_btn {
    background-color: var(--green);
    color: #fff;
}
.sign_txt {
    color: var(--yellow);
    font-weight: 600;
}
.sign_btn {
    background-color: var(--yellow);
}

/*! NAVIGATION */

#nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--green);
    padding: .8rem;
    transition: transform .4s;
}

#nav .icon {
    padding: 0 5px;
    font-size: .75rem;
    font-weight: bold;
}
#nav a {
    color: var(--dark);
}
#nav a.page {
    color: var(--yellow);
}
.hide_nav {
    transform: translateY(100%);
}

/*!--------------------- LOGIN ---------------------*/

#login {
    height: 100vh;
    width: 100vw;
}

#bg_image {
    height: 0;
    position: relative;
    left: -35%;
    top: 10%;
}
#bg_image img {
    height: 40vh;
    position: absolute;
    z-index: -100;
    opacity: 0.3;
}

#principal_screen {
    padding: 10px 10px;
    margin: 20px;
    gap: 10px;
    background-color: #25252586;
}
.main_screen {
    color: #fff;
    margin: 20px;
    border-radius: 5px;
}
.button_container button {
    border: none;
    border-radius: 10px;
    background-color: #555;
    padding: 10px 15px;
    color: #fff;
    font-size: 10pt;
}

.link_container {
    font-size: 9pt;
    color: var(--yellow);
    margin-top: 20%;
}

/*!--------------------- RECOVER ---------------------*/

.recover {
    background-color: #0047FF;
}

.recover picture {
    background-color: #002fa7;
}

.my_team {
    background: linear-gradient(90deg, #00A3FF, #0047FF, #00A3FF, #0047FF) !important;
    color: #fff !important;
}

/*! ------------------------ MQUERIES ----------------------- */

@media screen and (orientation: landscape) {
    #aside {
        flex-direction: row !important;
        justify-content: space-around !important;
        /* margin: 0 auto !important; */
        height: 60vh;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 15%;
        margin: auto;
    }
}